<head>
    <title>Welcome</title>
</head>


<template name="mainLayout">
    <body style="margin-top: 70px">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">

                <ul class="nav navbar-nav">
                    <li><a href="{{pathFor 'home' }}"><i class="fa fa-home"></i> Home</a></li>
                    {{#if currentUser}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"><i class="fa fa-database" aria-hidden="true"> Data</i> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{pathFor 'staff'}}"><i class="fa fa-user" aria-hidden="true"> Staff</i></a></li>
                                <li><a href="{{pathFor 'contract'}}"><i class="fa fa-calendar" aria-hidden="true"> Contract</i></a></li>
                                <li><a href="{{pathFor 'company'}}"><i class="fa fa-cube" aria-hidden="true"> Company</i></a></li>
                                <!--<li><a href="{{pathFor 'contract'}}">How</a></li>-->

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"><i class="fa fa-pie-chart" aria-hidden="true"> Report</i><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{pathFor 'staffList'}}"><i class="fa fa-bar-chart" aria-hidden="true"> Staff</i></a></li>
                                <li><a href="{{pathFor 'contractList'}}"><i class="fa fa-bar-chart" aria-hidden="true"> Contract</i></a></li>
                                <!--<li><a href="{{pathFor 'company'}}"><i class="fa fa-bar-chart" aria-hidden="true"> Company</i></a></li>-->
                                <!--<li><a href="{{pathFor 'contract'}}">How</a></li>-->

                            </ul>
                        </li>
                        <li><a href="{{pathFor '/setting'}}"><i class="fa fa-cog" aria-hidden="true"> Setting</i></a></li>


                        <!--<li><a href="{{pathFor 'staff'}}"><i class="fa fa-users"></i> Staff</a></li>-->
                        <!--<li><a href="{{pathFor 'about'}}"><i class="fa fa-info"></i> About</a></li>-->
                        <!--<li><a href="{{pathFor 'contract'}}"><i class="fa fa-phone-square"></i> Contract</a></li>-->
                        <!--<li><a href="{{pathFor 'staffList'}}"><i class="fa fa-amazon"></i> Staff List Report</a></li>-->
                        <!--<li><a href="{{pathFor 'contractList'}}"><i class="fa fa-4x"></i> Contract List Report</a></li>-->
                    {{/if}}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        {{> Template.dynamic template=content}}
        <!--{{> staff}}-->
    </div><!-- /.container -->
    {{> meteorStatus}}
    </body>
</template>

